
<!DOCTYPE html>
{%load static%}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BARBER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/arkusz.css' %}">
</head>
<body>
    <div id="header">
        {%if request.user.is_authenticated %}
            <a href="{%url 'user_view'%}"><img src="../static/img/banner.png" alt="banner"></a>
        {%else%}
            <a href="{%url 'main'%}"><img src="../static/img/banner.png" alt="banner"></a>
        {%endif%}
    </div>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            {%if request.user.is_authenticated %}
                <li><a href="{%url 'logout_view'%}">Wyloguj</a></li>
                <li><a href="{%url 'user_view'%}">User</a></li>
                {%if request.user.staff %}
                    <li><a href="{%url 'set_skill'%}">Przypisz specjalizację</a></li>
                    <li><a href="{%url 'create_skill'%}">Dodaj specjalizację</a></li>
                {%else%}
                    <li><a href="{%url 'create_visit'%}">Dodaj wizytę</a></li>
                {%endif%}
            {%else%}
                <li><a href="{%url 'main'%}">Home</a></li>
            {%endif%}
            <li><a href="{%url 'visits_list'%}">Wizyty</a></li>

        </ul>
        
      </nav>

        <div class="indiv">
            <div class='przyciski'>
                {%block content%}
                {%endblock%}
            </div>
        </div>
    
    
</body>
</html>